name: Publish Maven Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  publish:
    uses: Mazaadak/.github/.github/workflows/java-publish-maven-package.yml@main
    with:
      java-version: '17'
      skip-tests: true
